<form #bookForm="ngForm">
  <div class="form">

    <div class="form-group">
      <label>ISBN</label>
      <input
        [(ngModel)]="book.isbn"
        class="form-control" name="isbn" #isbn="ngModel"
        required
        minlength="3">
    </div>

    <div [hidden]="isbn.valid || isbn.pristine" class="alert alert-danger">
      Sie sollten eine ISBN angeben!
    </div>

    <div class="form-group">
      <label>Title</label>
      <input
        [(ngModel)]="book.title"
        class="form-control" name="title"
        required>
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea
        [(ngModel)]="book.description"
        class="form-control" name="description"></textarea>
    </div>

    <div class="form-group">
      <button
        [disabled]="!bookForm.valid"
        (click)="add()" class="btn btn-danger">Submit</button>
    </div>

  </div>
</form>


